body {
	font-family: "Roboto", sans-serif;
	background-color: rgb(244, 220, 244);
}

a {
	text-decoration: none;
}

header {
	padding: 32px;
	text-align: center;
}

h1 {
	color: rgb(126, 43, 199);
	font-weight: 900;
	font-size: 52px;
}

header img {
	width: 300px;
}

main {
	background-color: rgb(126, 43, 199);
	color: white;
	max-width: 700px;
	padding: 32px;
	border-radius: 8px;
	margin: 32px auto;
}

main h2 {
	font-size: 22px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 15px 0;
	padding-left: 10px;
	border-left: 5px solid transparent;
}

.important-li {
	color: rgb(240, 199, 95);
	border-color: goldenrod;
}

.mdn-link {
	padding: 2px 6px;
	background-color: lemonchiffon;
	color: #222;
	border-radius: 4px;
	transition: all 0.1s ease;
}

.mdn-link:hover,
.mdn-link:active {
	background-color: rgb(250, 240, 151);
}

footer {
	text-align: center;
	margin-bottom: 100px;
	padding-top: 32px;
}

.pdf-link {
	background-color: rgb(234, 199, 112);
	color: rgb(69, 38, 38);
	border-radius: 8px;
	padding: 12px 20px;
	transition: all 0.1s ease;
}

.pdf-link:hover,
.pdf-link:active {
	background-color: hsl(43, 74%, 58%);
}

.owner {
	color: gray;
	font-size: 14px;
	margin-top: 30px;
}
