body {
	background-color: rgb(225, 243, 243);
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

form {
	background-color: rgb(248, 247, 251);
	border-radius: 6px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	width: 40rem;
	margin: 1rem auto;
}

form label {
	display: block;
	margin-bottom: 0.5rem;
}

form input,
textarea,
select {
	width: 100%;
	box-sizing: border-box;
	padding: 0.5rem 0.25rem;
	border-radius: 4px;
	border: 1px solid #c3bfbf;
	margin-bottom: 1rem;
	font: inherit;
}

.form-control-inline {
	display: flex;
	margin-bottom: 0.25rem;
	align-items: baseline;
}

.form-control-inline input {
	width: auto;
	margin-right: 0.5rem;
	margin-bottom: 0;
}

.form-control-inline label {
	margin: 0;
}

textarea {
	resize: vertical;
}

select {
	font-weight: 500;
}

.accept-terms-section {
	margin-top: 1rem;
}

.actions {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
}

.btn {
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	border: 1px solid darkblue;
	color: darkblue;
	background-color: rgb(242, 245, 246);
	font-size: 1.25rem;
	cursor: pointer;
}

.btn-complementary {
	border-color: rgb(242, 245, 246);
	background-color: darkblue;
	color: rgb(242, 245, 246);
}
