body {
	margin: 0;
	font-family: "Quicksand", sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	padding: 15px 60px;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

#page-logo a {
	font-family: "Oleo Script", sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
	padding: 10px;
	color: rgb(245, 243, 160);
}

header ul {
	display: flex;
	align-items: center;
}

header li {
	margin-left: 20px;
}

header li a {
	color: rgb(255, 251, 0);
	font-size: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	padding: 12px;
	border-radius: 6px;
	transition: all 0.2s ease-in-out;
}

header li a:hover {
	color: rgb(77, 77, 77);
	background-color: rgb(255, 251, 0);
}

footer {
	padding: 32px 0;
	background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
}

footer ul {
	display: flex;
	justify-content: center;
}

footer li {
	width: 50px;
	height: 50px;
	margin: 0 50px;
}

footer li img {
	width: 100%;
	height: 100%;
}
