#hero {
	height: 700px;
	background-image: url("/images/ocean.jpg");
	background-position: center;
	background-size: cover;
}

#hero-content {
	width: 600px;
	background-color: rgba(51, 47, 47, 0.8);
	border-radius: 8px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 200px;
	padding: 50px 0;
}

#hero-content h1 {
	margin: 0;
	color: white;
	text-transform: uppercase;
	font-size: 50px;
	font-family: "Raleway", sans-serif;
}

#hero-content p {
	color: white;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 32px;
}

#hero-content a {
	background-color: hsl(59, 100%, 50%);
	color: black;
	padding: 12px 24px;
	border-radius: 8px;
	box-shadow: 2px 4px 8px rgb(68, 67, 67);
	font-size: 20px;
}

#hero-content a:hover {
	background-color: hsl(56, 100%, 50%);
}

#highlights {
	padding: 20px;
	background: linear-gradient(45deg, rgb(227, 255, 253), rgb(202, 243, 240));
}

#highlights h2 {
	text-align: center;
	text-transform: uppercase;
	color: rgb(59, 65, 64);
	font-size: 40px;
	margin: 24px;
}

#destinations-list {
	display: flex;
	width: 90%;
	margin: auto;
	margin-bottom: 40px;
}

.destination-item {
	width: 100%;
	margin: 0 20px;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
	color: #444;
}

.destination-item img {
	height: 200px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 2px 4px 8px rgb(67, 66, 66);
	object-fit: cover;
}

.destination-item strong {
	color: rgb(0, 128, 100);
}
